{% extends 'base.html' %}

{% block title %} Twoje rośliny {% endblock %}

{% block page_header %}
    <h2>
        Twoje rośliny
        <a href="{% url 'plantswap:plant-add' %}"
            class="btn btn-sm btn-outline-secondary">Dodaj nową roślinę</a>
    </h2>
{% endblock page_header %}

{% block content %}

{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
{% endif %}

<p>

</p>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for plant in plants %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if plant.photo %}
                    <img src="{{ plant.photo.url }}" width="100%" height="300">
                    {% else %}
                    <img src="/media/plants/no_foto.jpg" width="100%"
                         height="300">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ plant.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'plantswap:plant-detail' plant.id %}"
                                   class="btn btn-sm btn-outline-secondary">Szczegóły
                                </a>
                                <a href="{% url 'plantswap:plant-edit' plant.id %}"
                                   class="btn btn-sm btn-outline-secondary">Edytuj
                                </a>
                            </div>
                            <small class="text-muted">{{ plant.name }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p align="center">Nie masz jeszcze żadnej rośliny.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}