{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    {% if not object.pk %}
        Utwórz przypomnienie
    {% else %}
        Edytuj przypomnienie
    {% endif %}
{% endblock %}

{% block page_header %}
    <h2>Twoje przypomnienie</h2>
{% endblock page_header %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ form.errors }}
        {% buttons %}
        <button type="submit" class="btn btn-info">
            {% if not object.pk %}
                Dodaj przypomnienie
            {% else %}
                Zapisz zmiany
            {% endif %}
        </button>
        {% endbuttons %}
    </form>

{% endblock %}