{% extends 'base.html' %}

{% block title %} Plantcare {% endblock %}

{% block page_header %}
    <h2>
        Twoje przypomnienia
        <a href="{% url 'plantswap:reminder-add' %}"
           class="btn btn-sm btn-outline-secondary">Dodaj nowe przypomnienie</a>
    </h2>
    </h2>
{% endblock page_header %}

{% block content %}

{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% for reminder in reminders %}
    <ul class="list-unstyled">
        <li>rodzaj: {{ reminder.get_name_display }}</li>
        {% for detail in reminder.plant.values %}
            {{ detail.name }}
            <img src="{{ detail.photo.url }}">
        {% endfor %}
        <li>poprzednia pielęgnacja: {{ reminder.previous_care_day }}</li>
        <li>cykl: {{ reminder.cycle }}</li>
        <li>następna pielęgnacja: {{ reminder.next_care_day }}</li>
        <a href="{% url 'plantswap:reminder-edit' reminder.pk %}">Edytuj</a>
    </ul>
    {% empty %}
        Nie masz jeszcze dodanych przypomnień.
{% endfor %}
{% endblock %}
