{% extends 'base.html' %}

{% block title %} Rośliny w okolicy {% endblock %}

{% block page_header %}
    <h2>
        Twoje wymiany
        <a href="{% url 'plantswap:transaction-add' %}"
           class="btn btn-sm btn-outline-secondary">Dodaj nową wymianę</a>
    </h2>
{% endblock page_header %}

{% block content %}

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% for transaction in transactions %}
    <ul class="list-unstyled">
        <li>nazwa: {{ transaction.name }}</li>
        <li>opis: {{ transaction.description }}</li>
        <li>status: {{ transaction.get_status_display }}</li>
        {% for detail in transaction.plant.values %}
        <div class="btn-group">
            <a href="{% url 'plantswap:plant-detail' detail.id %}"
               class="btn btn-sm btn-outline-secondary">{{ detail.name }}</a>
            {% endfor %}

        <a href="{% url 'plantswap:transaction-edit' transaction.id %}"
           class="btn btn-sm btn-outline-primary">Edytuj wymianę </a>
        </div>
    </ul>
    {% empty %}
        Nie masz jeszcze żadnej dostępnej wymiany.
    {% endfor %}
{% endblock %}