{% extends 'base.html' %}

{% block title %}
Rośliny w okolicy
{% endblock %}

{% block page_header %}
<h2> Twoje wymiany </h2>
{% endblock page_header %}

{% block content %}

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

{% for transaction in transactions %}

<div class="container row mb-3">
    {% if transaction.plant.plant.owner == user %}
    {% if transaction.plant.plant.status == 1 %}
    <div class="col-md-3 themed-grid-col">
        Oferujesz
    </div>
    <div class="col-md-6 themed-grid-col">
        {{ transaction.plant.plant.name }}
    </div>
    <div class="col-md-3 themed-grid-col">
        <a href="{% url 'plantswap:transaction-detail' transaction.pk %}"
           class="btn btn-sm btn-info">Szczegóły</a>
        {% if not transaction.finished %}
        <a href="{% url 'plantswap:transaction-finalize' transaction.pk %}"
           class="btn btn-sm btn-danger">Zakończ transakcje</a>{% endif %}
    </div>
    {% elif transaction.plant.plant.status == 2 %}
    <div class="col-md-3 themed-grid-col">
        Szukasz
    </div>
    <div class="col-md-6 themed-grid-col">
        {{ transaction.plant.plant.name }}
    </div>
    <div class="col-md-3 themed-grid-col">
        <a href="{% url 'plantswap:transaction-detail' transaction.pk %}"
           class="btn btn-sm btn-info">Szczegóły</a>
        {% if not transaction.finished %}
        <a href="{% url 'plantswap:transaction-finalize' transaction.pk %}"
           class="btn btn-sm btn-danger">Zakończ transakcje</a>
        {% endif %}
        {% endif %}
    </div>
    {% else %}

    {% if transaction.plant.plant.status == 1 %}
    <div class="col-md-3 themed-grid-col">
        Szukasz
    </div>
    <div class="col-md-3 themed-grid-col">
        {{ transaction.plant.plant.name }}
    </div>
    <div class="col-md-6 themed-grid-col">
        <a href="{% url 'plantswap:transaction-detail' transaction.pk %}"
           class="btn btn-sm btn-info">Szczegóły</a>
        {% if not transaction.finished %}
        <a href="{% url 'plantswap:transaction-finalize' transaction.pk %}"
           class="btn btn-sm btn-danger">Zakończ transakcje</a>
        {% endif %}
    </div>
    {% elif transaction.plant.plant.status == 2 %}
    <div class="col-md-3 themed-grid-col">
        Oferujesz
    </div>
    <div class="col-md-3 themed-grid-col">
        {{ transaction.plant.plant.name }}
    </div>
    <div class="col-md-6 themed-grid-col">
        <a href="{% url 'plantswap:transaction-detail' transaction.pk %}"
           class="btn btn-sm btn-info">Szczegóły</a>
        {% if not transaction.finished %}
        <a href="{% url 'plantswap:transaction-finalize' transaction.pk %}"
           class="btn btn-sm btn-danger">Zakończ transakcje</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% empty %}
<div class="col-xxl-4">
    Nie masz jeszcze żadnej dostępnej wymiany.
</div>
{% endfor %}

{% endblock %}