{% extends 'base.html' %}

{% block title %} Szczegóły rośliny {% endblock %}

{% block page_header %}
<h2>Szczegóły transakcji</h2>
{% endblock page_header %}

{% block content %}

</br>

<div class="container">
    {% if object.plant.status == 1 %}
        {% if object.to_user == user %}
            Możesz wziąć {{ object.plant.name }} od
            {{ object.from_user.first_name }}.
            Roślina będzie do odbioru z ulicy
            {{ object.from_user.userprofile.street }}.
        {% else %}
            {{ object.to_user.first_name }} chce wziąć od Ciebie
            {{ object.plant.name }}
        {% endif %}
    {% elif object.plant.status  == 2 %}
        {% if object.from_user == user %}
            Możesz dać {{ object.plant.name }} dla
            {{ object.to_user.first_name }}.
        {% else %}
            {{ object.from_user.first_name }} oferuje Ci
            {{ object.plant.name }}.
            Roślina będzie do odbioru z ulicy
            {{ object.from_user.userprofile.street }}.
        {% endif %}
    {% endif %}

    <br/><br/>
    {% for message in object.message.all %}
        {% if message.from_user == user %}
            <p>W dniu
                <b>{{ message.date|date:"d.m.Y" }} r.</b> o godz.
                <b>{{ message.date|date:"H:i" }}</b> napisałaś/eś:
                <i>{{ message.content }}</i> <br/>
            </p>
         {% else %}
            <p>
                <b>{{ message.from_user.first_name }}</b> w dniu
                <b>{{ message.date|date:"d.m.Y" }} r.</b> o godz.
                <b>{{ message.date|date:"H:i" }}</b> napisał/a:
                <i>{{ message.content }}</i> <br/>
            </p>
        {% endif %}
    {% empty %}
        Nie wymieniliście jeszcze między sobą wiadomości.
    {% endfor %}
    <br/><br/>
    {% if not object.is_finished %}
    <a href="{% url 'plantswap:message' object.pk %}"
       class="btn btn-info"> Odpowiedz</a>
    {% endif %}
</div>

{% endblock %}