{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    {% if not object.pk %}
        Utwórz wymianę
    {% else %}
        Edytuj wymianę
    {% endif %}
{% endblock %}

{% block page_header %}
    <h2>Twoja wymiana</h2>
{% endblock page_header %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% if not object.pk %}
                Dodaj wymianę
            {% else %}
                Zapisz zmiany
            {% endif %}
        </button>
        {% endbuttons %}
    </form>
{% endblock %}