{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Zmiana hasła {% endblock %}

{% block page_header %}
<h2>Zmień hasło</h2>
{% endblock page_header %}

{% block content %}

<form action="" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Zapisz hasło</button>
    {% endbuttons %}
</form>
<ul>
    <li>Twoje hasło nie powinno być zbliżone do Twoich innych informacji
        osobistych.
    </li>
    <li>Twoje hasło musi składać się z co najmniej 8 znaków.</li>
    <li>Twoje hasło nie powinno być powszechnie używanym przez Ciebie hasłem.
    </li>
    <li>Twoje hasło nie może składać się z samych cyfr.</li>
</ul>

{% endblock %}
