{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Logowanie {% endblock %}

{% block page_header %}
    <h2>Zaloguj się do mokotowskiej dżungli</h2>
{% endblock page_header %}

{% block content %}

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Zaloguj</button>
        {% endbuttons %}

        <input type="hidden" name="next"
               value="{% url 'plantswap:plant-list' %}">
    </form>
{% endblock %}