{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %} Rejestracja konta {% endblock %}

{% block page_header %}
<h2>Formularz rejestracji konta</h2>
{% endblock page_header %}

{% block content %}

<form action="" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Załóż konto</button>
    {% endbuttons %}

    <input type="hidden" name="next"
           value="{% url 'index' %}">
</form>

<ul>
    <li>Twoje hasło nie powinno być zbliżone do Twoich innych informacji
        osobistych.
    </li>
    <li>Twoje hasło musi składać się z co najmniej 8 znaków.</li>
    <li>Twoje hasło nie powinno być powszechnie używanym przez Ciebie hasłem.
    </li>
    <li>Twoje hasło nie może składać się z samych cyfr.</li>
</ul>

{% endblock content %}
