{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} |
            Planthood </title>

            {% bootstrap_css %}
            {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

            <a class="navbar-brand"
               href="{% url 'index' %}">Planthood</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'plantswap:transaction-list' %}">
                        Wymiany</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'plantswap:plant-list' %}">
                        Rośliny</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'plantswap:reminder-list' %}">
                        Przypomnienia</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Witaj, {{ user.first_name }}.</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'edit-profile' %}">Edytuj profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Wyloguj</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'login' %}">Zaloguj</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>