{% extends "base.html" %}

{% block title %}
    Daj roślinom nowy dom
{% endblock %}

{% block page_header %}
    {% if user.is_authenticated %}
        <h2>Roślinki w Twojej okolicy</h2>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if not user.is_authenticated %}
    <div class="jumbotron">
        <h1 class="display-3">Adoptuj roślinę z sąsiedztwa!</h1>

        <p class="lead">Planthood to miejsce dla miłośników roślin, którzy
            lubią się dzielić. Rozmnażasz swoje kwiaty odpowiedzialnie?
            Lubisz patrzeć, jak rosną od małej szczepki, zamiast
            kupować bujny okaz w dyskoncie? A może po prostu chcesz poznać
            swoich sąsiadów, ale do tej pory brakowało pretekstu? To miejsce
            jest dla Ciebie! Wspólnie możecie zmienić swoje mieszkania
            w zieloną oazę w samym środku wielkomiejskiej dżungli.</p>


        <a class="btn btn-lg btn-primary"
           href="{% url 'members:register' %}"
           role="button">Załóż konto &raquo;</a>
    </div>
    {% else %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for plant in plants %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{% url 'plantswap:plant-detail' plant.id %}">
                    {% if plant.photo %}
                    <img src="{{ plant.photo.url }}" width="100%" height="300">
                    {% else %}
                    <img src="/media/plants/no_foto.jpg" width="100%"
                         height="300">
                    {% endif %}</a>
                    <div class="card-body">
                        <p class="card-text">
                            {{ plant.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if plant.status == 1 %}
                                <a href="{{ plant.get_add_to_transaction_url }}"
                                   class="btn btn-sm btn-outline-info">Weź
                                  tę roślinkę!</a>
                                {% elif plant.status == 2 %}
                                    <a href="{{ plant.get_add_to_transaction_url }}"
                                   class="btn btn-sm btn-outline-info">Daj
                                        tę roślinkę!</a>
                                {% endif %}
                            </div>
                            <small class="text-muted">
                                {{ plant.distance.km|floatformat:2 }} km
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p align="center">Aktualnie nie ma roślinek do adopcji.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="nav-link"
               href="?page={{ page_obj.previous_page_number }}">&laquo;
                poprzednia
            </a> |
            {% if page_obj.number|add:-3 in page_obj.paginator.page_range %}
                <a class="nav-link"
                   href="?page={{ page_obj.number|add:'-3' }}">
                {{ page_obj.number|add:'-3' }}</a> |
            {% endif %}
            {% if page_obj.number|add:-2 in page_obj.paginator.page_range %}
                <a class="nav-link"
                   href="?page={{ page_obj.number|add:'-2' }}">
                {{ page_obj.number|add:'-2' }}</a> |
            {% endif %}
            <a class="nav-link"
               href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a> |
        {% endif %}

<!--        <span class="current">-->
<!--            <a class="nav-link"-->
<!--               href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>-->
<!--        </span>-->

        {% if page_obj.has_next %}
            | <a class="nav-link"
                 href="?page={{ page_obj.next_page_number }}">
                {{ page_obj.next_page_number }}</a> |

            {% if page_obj.number|add:2 in page_obj.paginator.page_range %}
                <a class="nav-link"
                   href="?page={{ page_obj.number|add:'2' }}">
                {{ page_obj.number|add:'2' }}</a> |
            {% endif %}

            {% if page_obj.number|add:3 in page_obj.paginator.page_range %}
                <a class="nav-link"
                   href="?page={{ page_obj.number|add:'3' }}">
                {{ page_obj.number|add:'3' }}</a> |
            {% endif %}

            <a class="nav-link"
               href="?page={{ page_obj.next_page_number }}"> następna
                &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
