{% extends "base.html" %}

{% block title %}
    Daj roślinom nowy dom
{% endblock %}

{% block page_header %}
    {% if user.is_authenticated %}
        <h2>Roślinki w Twojej okolicy</h2>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if not user.is_authenticated %}
    <div class="jumbotron">
        <h1 class="display-3">Adoptuj roślinę z sąsiedztwa!</h1>

        <p class="lead">Planthood to miejsce dla miłośników roślin, którzy
            lubią się dzielić. Rozmnażasz swoje kwiaty odpowiedzialnie?
            Lubisz patrzeć, jak rosną od małej szczepki, zamiast
            kupować bujny okaz w dyskoncie? A może po prostu chcesz poznać
            swoich sąsiadów, ale do tej pory brakowało pretekstu? To miejsce
            jest dla Ciebie! Wspólnie możecie zmienić swoje mieszkania
            w zieloną oazę w samym środku wielkomiejskiej dżungli.</p>


        <a class="btn btn-lg btn-primary"
           href="{% url 'members:register' %}"
           role="button">Załóż konto &raquo;</a>
    </div>
    {% endif %}
{% endblock content %}
